@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --green: #3EB25E;
    --light-green: rgba(62, 178, 94, 0.3);
    --hover-yellow: #FFFF7D;
    --yellow: #ffff7d61;

    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/*default layout for all pages*/
main {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    min-width: 80%;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

figure img{
    width: 72%;
}

article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    padding: 0 7.5%;
    width: 50%;
}

.txt-container {
    text-align: center;
}

.txt-container h1 {
    margin-bottom:15px;
}

h1, p, button, a {
    text-align: center;
}

h1 {
    margin-bottom: 10px;
    font-size: 3.2rem;
}

p {
    font-size: 2.1rem;
}

a, 
button, 
.abled {
    padding: 10px 30px;
    background-color: var(--green);
    
    outline: none;
    border: none;
    border-radius: 50px;

    color: white;
    white-space: nowrap;
    font-size: 1.7rem;
    font-weight: bold;
}

.disabledBtn {
    cursor: not-allowed;
    padding: 10px 30px;
    
    outline: none;
    border: none;
    border-radius: 50px;

    color: white;
    white-space: nowrap;
    font-size: 1.7rem;
    font-weight: 500;
    background-color: var(--light-green);
}

a {
    text-decoration: none;
}

a:hover, 
button:hover,
.abled:hover {
    background-color: var(--hover-yellow);
    color: black;
    cursor: pointer;
}

/*deafult layout for form pages*/
form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

article form fieldset p{
    text-align: start;
}

fieldset {
    border: none;
}

.input-title {
    font-size: 2rem;
    text-align: start;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../img/Vector 1.svg');
    background-repeat: no-repeat;
    background-position: 3% center;
    background-size: 1.5rem;
        
    padding: 10px 40px;
    border-radius: 12px;
    width: 100%;
    cursor: pointer;
}

input:focus {
    outline: 2px solid var(--yellow);
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.dbButton-box {
    display: flex;
    justify-content: space-around;
    gap: 20px
}

.dbButton-box button,
.disabledBtn,
.abled,
.fullBtn {
    padding: 7px 30px;
    width: 100%;
    font-size: 1.7rem;
}

/*cellphone*/
@media (max-width: 767px) {
    main {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        width: 80%;
    }

    figure {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    figure img {
        width: 70%;
    }

    article {
        padding: 0;
        width: 85%;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 2px;
    }
    
    p {
        font-size: 1rem;
    }
    
    .dbButton-box{
        display: flex;
        justify-content: space-around;
        gap: 10px;
        width: 100%;
    }   
    
   article .dbButton-box button,
   article .dbButton-box a,
   .fullBtn,
   .disabledBtn,
   .abled,
   .nextBtn {
       padding: 5px;
       width: 100%;
       font-size: .9rem;
   }

    button {
        padding: 4px 20px;
        font-size: 1rem;
    }

    /*form format*/
    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .input-title {
        font-size: 1.2rem;
    }

    label {
        font-size: .8rem;
    }

    select {
        font-size: 1rem;
        padding: 2px 30px;
        background-size: 1rem;
    }

    form footer {
        gap: 5px;
    }
}

/*tablet*/
@media (min-width: 768px) and (max-width: 979px) {
    main {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        width: 80%;
    }

    figure {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        width: auto;
    }

    figure img{
        width: 60%;
    }

    article {
        padding: 0;
    }

    .dbButton-box button,
    .fullBtn,
    .disabledBtn,
    .able {
        padding: 5px auto;
        width: 100%;
        font-size: .9rem;
    }

    h1 {
        font-size: 2rem;
    }
    
    p {
        font-size: 1rem;
    }
    
    a, button {
        padding: 4px 20px;
        font-size: .8rem;
    }

    /*form format*/
    form {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    .input-title {
        font-size: 1.2rem;
    }
    
    label {
        font-size: .8rem;
    }

    select {
        font-size: .8rem;
        padding: 5px 30px;
    }

    form footer {
        gap: 5px
    }
}

/*desktop 1024px*/
@media (min-width: 1024px) and (max-width: 1030px) {
    main {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        width: 80%;
    }

    article {
        padding: 0;
    }

    figure {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    figure img{
        width: 72%;
    }

    h1 {
        font-size: 2.2rem;
    }
    
    p {
        font-size: 1.4rem;
    }
    
    a, button {
        padding: 5px 20px;
        font-size: 1.2rem;
    }

    .dbButton-box button,
    article .dbButton-box a,
    .fullBtn,
    .disabledBtn,
    .able,
    .nextBtn {
        padding: 10px auto;
        width: 100%;
        font-size: 1.5rem;
    }

}